.white{
    background-color: white;
}

body{
    background-color: burlywood;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: rgb(172, 171, 171);
}
h1 {
    font-size: xx-large;
    
    background-color: black;
    margin: auto;
    padding-left: 43%;
}

h1, h2, p {
    color: beige;
}

h2{
    font-size: 1.5em;
}

table{
    background-color: burlywood;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
}